*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
header{
    text-align: center;
    padding: 30px 0px 30px;
    background-color: #903ddd;
    color: #fff;
}
main{
    margin-top: 50px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}
.main-text{
    letter-spacing: 1.1px;
    width: 500px;
    h3{
        font-size: 25px;
        margin-bottom: 1px;
    }
}
.main-register{
    border: 1px solid #9b9393;
    width: 500px;
    padding: 15px; 
    margin: 15px 0 25px; 
}
.main-register-field{
    input{
        width: 100%;
        padding: 7px;
        margin: 2px 0px 10px;
        border-radius: 5px;
        border: 1px solid #9b9393;
    }
}
.main-register-buttons{
    input{
        padding: 8px;
        width: 90px;
        border-radius: 5px;
        border: none;
        background-color: #903ddd;
        color: #fff;
        cursor: pointer;
    }
    input:hover{
        background-color: #a367db;
    }
}
.main-table-title, .main-table-content{
    display: flex;
    width: 500px;
    justify-content: space-around;
    

    .item{
        
        border: 1px solid #9b9393;
        border-right: 0.0px solid #9b9393 !important;
        width: 125px;
        font-weight: bold;
        text-align: center;
        padding: 10px 0 10px;
        background-color: #E7E7E7;

        
    }
    & .item:nth-child(4){
        border-right: 1px solid #9b9393 !important;
    }
}
.main-table-content .item{
    font-weight: normal;
    border-top: 0px solid #9b9393;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 25px;
        cursor: pointer;
    }
    img:hover{
        opacity: 0.6;
    }
}
